---
import Layout from "../layouts/Layout.astro";
import Main from "../pages/Main.astro";
import Info from "../pages/Info.astro";
import Footer from "../pages/Footer.astro";
---

<Layout title="Descargar música gratis">
  <main class="flex flex-col px-8 md:px-80 pt-24 md:pt-36 pb-12" data-scroller>
    <Main />
    <Info />
    <Footer />
  </main>
</Layout>

<style></style>
